#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
  max-width: 100vw;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
