#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;

  @media (max-width: 768px) {
      width: 300px;
  }
}

.logo {
  will-change: filter;
  transition: filter 300ms;
  max-width: 80vw;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

